In [1]:
'''One Hot Encoding - Example'''
# Import Set :mercedesbenze.csv

# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Read CWD

os.getcwd()

'c:\\Users\\HP\\Desktop\\Machine Learning Programing with prajwal'

In [3]:
# Load Data Set

os.chdir('C:\\Users\\HP\\Downloads\\Batch 93 Day37\\')

In [5]:
data=pd.read_csv('mercedesbenz.csv')
data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [6]:
# Extract only selected columns
'''I am just pulling few columns where data type = object'''

data=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])
print(data)

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [7]:
# Number of distinct labels in each column

for col in data.columns:
    print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [10]:
# Normal way to do one hot encoding

onehot=pd.get_dummies(data,drop_first=True)
onehot

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4207,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4208,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [11]:
onehot=pd.get_dummies(data,drop_first=True,dtype=int)
onehot

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [15]:
data.X1.value_counts().sort_values(ascending=False).head(15)

X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
Name: count, dtype: int64

In [12]:
# print the row and columns

print(onehot.shape)

(4209, 117)

In [16]:
data.X2.value_counts()

X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
al       5
an       5
q        5
av       4
ah       4
p        4
au       3
am       1
j        1
af       1
l        1
aa       1
c        1
o        1
ar       1
Name: count, dtype: int64

In [13]:
# For column X2 print value count - descending order top 15

data.X2.value_counts().sort_values(ascending=False).head(15)

X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
Name: count, dtype: int64

In [18]:
# Create list with top 10 Categories

top10=[x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]
print(top10)

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [20]:
for label in top10:
    print(label)

as
ae
ai
m
ak
r
n
s
f
e

In [21]:
data['X2']

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object

In [22]:
data['X2']=='as'

0       False
1       False
2       False
3       False
4       False
        ...
4204     True
4205    False
4206    False
4207    False
4208    False
Name: X2, Length: 4209, dtype: bool

In [19]:
# Do one hot encoding to column X2 - only for top 10 Categories

for label in top10:
    data[label]=np.where(data['X2']==label,1,0)
print(data[['X2']+top10].head(20))

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0

In [24]:
# Repeat the same with multiple columns with for Loop

cprajwal=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])
for col in cprajwal.columns:
    top10=[x for x in cprajwal[col].value_counts().sort_values(ascending=False).head(10).index]
    print(col)
    print(top10)
    for label in top10:
        cprajwal[label]=np.where(cprajwal[col]==label,1,0)
    print(cprajwal[[col]+top10].head(20))

X1
['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']
    X1  aa  s  b  l  v  r  i  a  c  o
0    v   0  0  0  0  1  0  0  0  0  0
1    t   0  0  0  0  0  0  0  0  0  0
2    w   0  0  0  0  0  0  0  0  0  0
3    t   0  0  0  0  0  0  0  0  0  0
4    v   0  0  0  0  1  0  0  0  0  0
5    b   0  0  1  0  0  0  0  0  0  0
6    r   0  0  0  0  0  1  0  0  0  0
7    l   0  0  0  1  0  0  0  0  0  0
8    s   0  1  0  0  0  0  0  0  0  0
9    b   0  0  1  0  0  0  0  0  0  0
10   r   0  0  0  0  0  1  0  0  0  0
11   r   0  0  0  0  0  1  0  0  0  0
12   b   0  0  1  0  0  0  0  0  0  0
13   r   0  0  0  0  0  1  0  0  0  0
14   s   0  1  0  0  0  0  0  0  0  0
15   l   0  0  0  1  0  0  0  0  0  0
16   r   0  0  0  0  0  1  0  0  0  0
17  aa   1  0  0  0  0  0  0  0  0  0
18   c   0  0  0  0  0  0  0  0  1  0
19   a   0  0  0  0  0  0  0  1  0  0
X2
['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']
    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
X3
['c', 'f', 'a', 'd', 'g', 'e', 'b']
   X3  c  f  a  d  g  e  b
0   a  0  0  1  0  0  0  0
1   e  0  0  0  0  0  1  0
2   c  1  0  0  0  0  0  0
3   f  0  1  0  0  0  0  0
4   f  0  1  0  0  0  0  0
5   c  1  0  0  0  0  0  0
6   f  0  1  0  0  0  0  0
7   f  0  1  0  0  0  0  0
8   e  0  0  0  0  0  1  0
9   c  1  0  0  0  0  0  0
10  f  0  1  0  0  0  0  0
11  f  0  1  0  0  0  0  0
12  c  1  0  0  0  0  0  0
13  f  0  1  0  0  0  0  0
14  e  0  0  0  0  0  1  0
15  f  0  1  0  0  0  0  0
16  f  0  1  0  0  0  0  0
17  c  1  0  0  0  0  0  0
18  c  1  0  0  0  0  0  0
19  f  0  1  0  0  0  0  0
X4
['d', 'a', 'b', 'c']
   X4  d  a  b  c
0   d  1  0  0  0
1   d  1  0  0  0
2   d  1  0  0  0
3   d  1  0  0  0
4   d  1  0  0  0
5   d  1  0  0  0
6   d  1  0  0  0
7   d  1  0  0  0
8   d  1  0  0  0
9   d  1  0  0  0
10  d  1  0  0  0
11  d  1  0  0  0
12  d  1  0  0  0
13  d  1  0  0  0
14  d  1  0  0  0
15  d  1  0  0  0
16  d  1  0  0  0
17  d  1  0  0  0
18  d  1  0  0  0
19  d  1  0  0  0
X5
['w', 'v', 'q', 'r', 's', 'd', 'n', 'p', 'm', 'i']
   X5  w  v  q  r  s  d  n  p  m  i
0   u  0  0  0  0  0  0  0  0  0  0
1   y  0  0  0  0  0  0  0  0  0  0
2   x  0  0  0  0  0  0  0  0  0  0
3   x  0  0  0  0  0  0  0  0  0  0
4   h  0  0  0  0  0  0  0  0  0  0
5   g  0  0  0  0  0  0  0  0  0  0
6   f  0  0  0  0  0  0  0  0  0  0
7   f  0  0  0  0  0  0  0  0  0  0
8   f  0  0  0  0  0  0  0  0  0  0
9   f  0  0  0  0  0  0  0  0  0  0
10  f  0  0  0  0  0  0  0  0  0  0
11  f  0  0  0  0  0  0  0  0  0  0
12  f  0  0  0  0  0  0  0  0  0  0
13  j  0  0  0  0  0  0  0  0  0  0
14  j  0  0  0  0  0  0  0  0  0  0
15  j  0  0  0  0  0  0  0  0  0  0
16  j  0  0  0  0  0  0  0  0  0  0
17  j  0  0  0  0  0  0  0  0  0  0
18  j  0  0  0  0  0  0  0  0  0  0
19  j  0  0  0  0  0  0  0  0  0  0
X6
['g', 'j', 'd', 'i', 'l', 'a', 'h', 'k', 'c', 'b']
   X6  g  j  d  i  l  a  h  k  c  b
0   j  0  1  0  0  0  0  0  0  0  0
1   l  0  0  0  0  1  0  0  0  0  0
2   j  0  1  0  0  0  0  0  0  0  0
3   l  0  0  0  0  1  0  0  0  0  0
4   d  0  0  1  0  0  0  0  0  0  0
5   h  0  0  0  0  0  0  1  0  0  0
6   h  0  0  0  0  0  0  1  0  0  0
7   j  0  1  0  0  0  0  0  0  0  0
8   i  0  0  0  1  0  0  0  0  0  0
9   a  0  0  0  0  0  1  0  0  0  0
10  h  0  0  0  0  0  0  1  0  0  0
11  h  0  0  0  0  0  0  1  0  0  0
12  g  1  0  0  0  0  0  0  0  0  0
13  h  0  0  0  0  0  0  1  0  0  0
14  g  1  0  0  0  0  0  0  0  0  0
15  d  0  0  1  0  0  0  0  0  0  0
16  h  0  0  0  0  0  0  1  0  0  0
17  c  0  0  0  0  0  0  0  0  1  0
18  d  0  0  1  0  0  0  0  0  0  0
19  i  0  0  0  1  0  0  0  0  0  0